.UploadForm {
  padding: 1.5em;
}

.UploadActions {
  margin-top: 1em;
}

.UploadButton {
  display: none;
}

.UploadActions button {
  background-color: #ea8c20;
}

.UploadActions button:hover {
  background-color: #ffbc53;
}

.FilePickerActions {
  padding-top: 1em;
}

.FilePickerActions .MuiButton-root {
  background-color: #ea8c20;
  color: white;
  line-height: 1.75;
}

.FilePickerActions .MuiButton-root svg {
  vertical-align: middle;
}

.FilePickerActions:hover .MuiButton-root {
  background-color: #ffbc53;
}

.FormSpacer {
  width: 100%;
  height: 1em;
}
