.UploadForm {
  padding: 15px;
}

.UploadActions {
  margin-top: 10px;
}

.UploadButton {
  display: none;
}

.UploadActions button {
  background-color: #EA8C20;
}

.UploadActions button:hover {
  background-color: #ffbc53;
}
